<main class="grid">
  <%= for {channel, entries} <- @channels do %>
      <h2 style="grid-column: <%= channel %>"><%= channel %></h2>
      <%= for entry <- entries do %>
        <%= render("_entry.html", entry: entry) %>
      <% end %>
  <% end %>
  <div id="more-entries"></div>
</main>
